<!--Begin::Section-->
<div class="row" style="margin-bottom:-165px;">
  
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand ">
			<div class="m-portlet__body">
			   <div class="m-widget26">
					<div class="m-widget26__number">
								{{ all_events_count }}
				<small> Total Events </small>
					</div>
				<div class="m-widget26__chart" style="height:150px; width: 220px;">										
				</div>
				</div>
				</div>
		</div>
    <!--end:: Widgets/Inbound Bandwidth-->
  </div>
  <div class="col-md-3"> 
    <!--begin:: Widgets/Inbound Bandwidth-->
    <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger ">
		<div class="m-portlet__body">
			<div class="m-widget26">
				<div class="m-widget26__number">
		      	{{ all_seats_count }}
				<small> Total Seats </small>
				</div>
				<div class="m-widget26__chart" style="height:150px; width: 220px;">						
				</div>
				</div>
				</div>
				</div>
    <!--end:: Widgets/Inbound Bandwidth-->
  </div>
</div>
<!--End::Section--> 
