 <!-- Module 3 access Section Start Here 
  		    ==================================================--> 
           <div class="moduleaccess">
             <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                        <figure><img src="{{ base_url() }}/assets/assets/img/logo-israel.png"></figure>
						<h2>LE GRAND AGENDA DE VOS SORTIES<br> ET LOISIRS EN ISRAËL</h2>
                        <a href="javascript:void()" data-toggle="modal" data-target="#Modal6" class="blue">access</a>
                        </div>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                         <figure><img src="{{ base_url() }}/assets/assets/img/logo-cultur.png"></figure>
						<h2>le rEseau des militants engagEs pour<br/> donner du sens A CulturAccess </h2>
                        <a href="javascript:void()" data-toggle="modal" data-target="#Modal6" class="red">INFO</a>
                        </div>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                         <figure><img src="{{ base_url() }}/assets/assets/img/logo-access.png"></figure>
						<h2>le covoiturage culturel pour accEder A nos FvFnements</h2>
                        <a href="javascript:void()" data-toggle="modal" data-target="#Modal6" class="green">Go</a>
                        </div>
                  </div>
               </div>
              </div>
            </div>
 <!-- Module 3 access Section End Her =================================================--> 