<!--Begin::Section-->
						<div class="row" style="margin-top:-150px">
							<div class="col-xl-6 col-lg-12">
								<!--Begin::Portlet-->
								<div class="m-portlet  m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													{{ adminLang.dashboard_user_reg_report_txt }}
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-scrollbar-shown="true" data-scrollable="true" data-max-height="380" style="height: 380px; max-height: 380px;">
											<!--Begin::Timeline 2 -->
											 <div id='container_chart_div_2' style='min-width: 310px; height: 380px; max-width: 600px; margin: 0 auto'></div>
											<!--End::Timeline 2 -->
										</div>
									</div>
								</div>
								<!--End::Portlet-->
							</div>
							<div class="col-xl-6 col-lg-12">
								<!--Begin::Portlet-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													{{ adminLang.dashboard_yearly_sale_report_text }}
												</h3>
											</div>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active" id="m_widget2_tab1_content">
												<!--Begin::Timeline 3 -->
												<div class="m-timeline-3">
													<div class="m-timeline-3__items">
													<div id='container_chart_div_1' style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto'></div>
														</div>
												</div>
												<!--End::Timeline 3 -->
											</div>
										</div>
									</div>
								</div>
								<!--End::Portlet-->
		</div>
</div>
<!--End::Section-->