<div class="row">
    <div class="col-xl-12"> 
      <!--begin::Portlet-->
      <div class="m-portlet " id="m_portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title"> <span class="m-portlet__head-icon"> <i class="flaticon-map-location"></i> </span>
              <h3 class="m-portlet__head-text"> STATE OF SALES </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
		<table id="pdf_table">
		  <tr>
			<th >SPECTACLE</th>
			<th >NBRE PLACES TOTALES </th>
			<th >CATEGORIE</th>
			<th >NBRE DE PLACES VENDUES</th>
			<th >PRODUCTEUR</th>
			<th >FRAIS DE COMMISSION</th>
			<th >FRAIS DE GESTION</th>
			<th >CA EN COURS</th>
		  </tr>
		  <tr>
			<td>x</td>
			<td>xx</td>
			<td>xx</td>
			<td>xx</td>
			<td>xx</td>
			<td>xxx</td>
			<td>xx</td>
			<td>xx</td>
		  </tr>
		</table>
		
        </div>
      </div>
      <!--end::Portlet--> 
    </div>
  </div>