 <!-- Header Start Here 
  ==================================================-->
 	<header>
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 logo">
                	<a href="#"><img src="{{ base_url() }}/assets/assets/img/logo.png" class="Logo"></a>
                </div>
                
                <div class="col-lg-12 header-menu">
                	<ul>
                    	<li class="active"><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
                        <li><a href="#"><i class="fas fa-user"></i> Mon compte</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i> Mon panier</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
  <!-- Header  End Here
  ================================================== --> 