 <!-- Module 3 access Section Start Here 
  		    ==================================================--> 
           <div class="moduleaccess">
             <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                        <img src="{{ base_url() }}/assets/assets/img/logo-israel.png">
						<h2>LE GRAND AGENDA DE VOS SORTIES<br> ET LOISIRS EN ISRAËL</h2>
                        <a href="#" class="blue">access</a>
                        </div>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                        <img src="{{ base_url() }}/assets/assets/img/logo-cultur.png">
						<h2>LE GRAND AGENDA DE VOS SORTIES<br> ET LOISIRS EN ISRAËL</h2>
                        <a href="#" class="red">INFO</a>
                        </div>
                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    	<div class="moduleaccessBox">
                        <img src="{{ base_url() }}/assets/assets/img/logo-access.png">
						<h2>LE GRAND AGENDA DE VOS SORTIES<br> ET LOISIRS EN ISRAËL</h2>
                        <a href="#" class="green">Go</a>
                        </div>
                  </div>
               </div>
              </div>
            </div>
 <!-- Module 3 access Section End Her =================================================--> 