<!-- Carousel Section Start Here    		    ==================================================--> 
<div class="ligneSection ligneSection-white">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Se faire plaisir, s’évader, <span>être heureux !</span></h2>
                    </div> 
                    
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-5.jpg"></div>
                                <div class="lignedetails">
                                	<h1>AMIR</h1>                                    
                                    <p><span>en tournée</span> du 10/08 au 13/08/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-6.jpg"></div>
                                <div class="lignedetails">
                                	<h1>TAKE THAT </h1>                                    
                                    <p><span>park hayarkon</span>le 21/06/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox">
                            	<div class="ligneImg"><img src="{{ base_url() }}/assets/assets/img/ligne-7.jpg"></div>
                                <div class="lignedetails">
                                	<h1>LIOR NARKIS</h1>                                    
                                    <p><span>amphithéâtre de</span> le 04/05/2018</p>
                                    
                                    <div class="showonhover"><a href="#">RÉSERVER</a></div>
                                </div>
                            </div>
                         </div>
                        </div>                        
                        <div class="item">
                         <div class="col-lg-12">
                         	<div class="ligneBox tousbox">
                            	 <h4>tous nos évènements</h4>
                                 <ul>
                                 	<li><a href="#">théâtre/humour</a></li>

                                    <li><a href="#" class="active">concerts / musique</a></li>
                                    
                                    <li><a href="#">opéra / danse</a></li>
                                    
                                    <li><a href="#">jeune public</a></li>
                                 </ul>
                            </div>
                         </div>
                        </div> 
              		</div>                     
                </div>
             </div>
        	</div>
<!-- Carousel Section Start Here    		    ==================================================--> 