<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ base_url() }}/assets/assets/img/favicons/favicons.png">

    <title>Page Not Found</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/comingsoon/css/bootstrap.css" rel="stylesheet">
    <link href="{{ base_url() }}/comingsoon/css/layout.css" rel="stylesheet">
 
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
  </head>

  <body>
  <div class="wrap">
  <section class="topSection">
  	<div class="topcontent contnt404">
    	<h4>404 <span>Page non trouvée!</span></h4>
    </div>
  </section>
  <section class="footSection">
  	<div class="footcontent">
   	    <h2>il semblerait que la page recherchée ne soit pas bonne... <br>Revenir sur la HOME</h2>
        
         <a href="{{ base_url() }}/" class="backtohome">HOME</a>
         
    </div>
  </section>
  </div>
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
