 
  <!-- Footer Start Here 
  ==================================================-->
 	<footer>
    	<div class="container">
          <div class="row">
            <!-- Footer Left Side Start Here 
  		   ==================================================--> 	
    	   <div class="foot-left-side">
                <div class="col-lg-12">
                     <a href="#"><img src="{{ base_url() }}/assets/assets/img/footlogo.png" width="261" height="48"></a>
                     <h3>culturaccess © 2018 Tous droits réservés</h3>
                     <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>  
                                      
                </div>
         	</div>
            <!-- Footer Left Side End Here 
  		   ==================================================-->
           
           <!-- Footer Right Side Start Here 
  		   ==================================================--> 	
           <div class="foot-right-side">
         	    <div class="col-lg-12">
                	<div class="newslatterCon">
                    	<h2>INFOS ET OFFRES EXCLUSIVES, inscrivez vous à notre newsletter</h2>
                        <div class="newslatterForm">
                        	<input name="" type="text" placeholder="votre e-mail">
                            <input name="" type="button" value="biensur" class="ne-btn">
                        </div>
                    </div>
                    
                    <div class="foot-nav">
                    	<ul>
                        	<li><a href="#">Accueil </a></li>
                            <li><a href="#">mon compte</a></li>
                            <li><a href="#">mon panier</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                    	<ul>
                        	<li><a href="#">Théâtre / humour</a></li>
                            <li><a href="#">concerts / musique</a></li>
                            <li><a href="#">opéra / danse</a></li>
                            <li><a href="#">Expos  musées</a></li>
                            <li><a href="#">visites guidées</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                    	<ul>
                        	<li><a href="#">excursions / tourisme</a></li>
                            <li><a href="#">Sports / loisirs</a></li>
                            <li><a href="#">libre access</a></li>
                            <li><a href="#">Cadeau spectacle</a></li>
                            <li><a href="#">la communauté culturaccess</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                    	<ul>
                        	<li><a href="#">ISRAEL ACCESS</a></li>
                            <li><a href="#">Rezo culture</a></li>
                            <li><a href="#">event access</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                    	<ul>
                        	<li><a href="#">crédits</a></li>
                            <li><a href="#">mentions légales</a></li>
                            <li><a href="#">conditions générales</a></li>
                        </ul>
                    </div>
                </div>
           </div>
           <!-- Footer Right Side End Here 
  		   ==================================================--> 
           
            <!-- Mobile Footer Left Side Start Here 
  		   ==================================================--> 	
    	   <div class="mobofoot foot-left-side">
                <div class="col-lg-12">
                     <a href="#"><img src="{{ base_url() }}/assets/assets/img/footlogo.png" width="261" height="48"></a>
                     <h3>culturaccess © 2018 Tous droits réservés</h3>
                     <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>  
                                      
                </div>
         	</div>
            <!-- Mobile Footer Left Side End Here 
  		   ==================================================-->	
          </div>
        </div>
    </footer>
  <!-- Footer  End Here
  ================================================== --> 
  