<!-- Header Top Section Start Here 
  ==================================================-->
  	<section class="header-top">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-12 top-lt">
                	<ul>
                    	<li><span>ACHAT DIRECT</span></li>
                    	<li><a href="callto:0 800 823 232">0 800 823 232</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 top-rt">
                	<ul>
                    	<li><span>Suivez-nous</span></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>  
  <!-- Header Top Section End Here 
  ==================================================-->