<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cultur Access</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
         <li><a href="#">Théâtre / Humour</a></li>
          <li><a href="#">Concerts / Musique</a></li>
          <li><a href="#" class="active">Opera / Danse</a></li>
          <li><a href="#">culture / Expos</a></li>
          <li><a href="#">Tourisme / visite guidée</a></li>
          <li><a href="#">sports / loisirs</a></li>
          <li><a href="#">Le cadeau spectacle</a></li>
          <li><a href="#">la communauté cultur<span>access</span></a></li>
        </ul>
        
      </div>
 </nav>